**/node_modules
*.log
build
dist
.sanity
.DS_Store
.idea
.run
coverage
.metadata
.dart_tool
pubspec_overrides.yaml
.flutter-plugins
.flutter-plugins-dependencies
*.iml
mason-lock.json
.mason
*.lock
devtools_options.yaml
pnpm-lock.yaml

